* {
    margin: 0;
    padding: 0;
    outline: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 945px;
    margin: 0 auto;
}

header {
    justify-content: center;
    .navigation {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #828282;
        .tab {
            height: fit-content;
            width: fit-content;
            // width: 189px;
            // float: left;
            // text-align: center;
            padding-top: 33px;
            padding-bottom: 33px;
            
            a {
                color: #828282;
                font-family: 'Gilroy-Bold';
                font-size: 18px;
                line-height: 22px;
            }
        }
        
        .tab:first-child a {
            color: #070707;
        }
    }
}

.main-info {
    display: flex;
    .column {
        flex-basis: 33.3%;
    }

    .h1div {
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .important-info {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lang {
        display: flex;
        justify-content: end;
        align-items: center;
        p {
            writing-mode: vertical-lr;
            transform: rotate(-180deg);
        }
    }
}

.image-main {
    background-image: url(images/мужик.jpg);
}

@media screen and (max-width: 970px) {
    .navigation {
        margin-left: 50px;
        margin-right: 50px;
    }
}

