* {
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 100%;
}

a {
  text-decoration: none;
}

h2 {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
}

.container {
  max-width: 945px;
  margin: 0 auto;
}

header {
  font-size: 18px;
  font-family: "Gilroy-Bold", sans-serif;
  justify-content: center;
}
header .navigation {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #828282;
}
header .navigation .tab {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 33px;
  padding-bottom: 33px;
}
header .navigation .tab a {
  color: #828282;
  font-family: "Gilroy-Bold";
  font-size: 18px;
  line-height: 22px;
}
header .navigation .tab a:hover {
  text-decoration: underline;
}
header .navigation .tab:first-child a {
  color: #070707;
}

.main-info {
  margin-bottom: 30px;
  display: flex;
}
.main-info .column {
  flex-basis: 33.3%;
}
.main-info .h1div {
  font-size: 47px;
  font-family: "Gilroy-Bold", sans-serif;
  line-height: 59px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.main-info .important-info {
  font-size: 18px;
  font-family: "Gilroy-Medium", sans-serif;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.main-info .lang {
  font-size: 16px;
  font-family: "Gilroy-Bold", sans-serif;
  line-height: 20px;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}
.main-info .lang p {
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  transform: rotate(-180deg);
}
.main-info .lang p a {
  color: #828282;
}
.main-info .lang p a:active {
  color: #000;
  transition: color 0s;
}

.image-main {
  background-image: url(../images/man.jpg);
  background-position: center center;
  background-size: cover;
  max-width: 945px;
  height: 367px;
  margin-bottom: 225px;
}

.about-me {
  max-width: 100%;
  background-color: #f6f6f6;
  padding: 181px 0 107px;
  margin-bottom: 91px;
}
.about-me h2 {
  margin-bottom: 18px;
}
.about-me .info-about-me {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 218px;
  justify-content: space-between;
}
.about-me .info-about-me p {
  font-size: 18px;
  font-family: "Gilroy-Medium", sans-serif;
  line-height: 20px;
  margin-bottom: 30px;
}

.skills h2 {
  margin-bottom: 70px;
}
.skills p {
  text-align: center;
  font-size: 18px;
  font-family: "Gilroy-Medium", sans-serif;
  line-height: 20px;
  margin-bottom: 84px;
}
.skills .evaluations {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.skills .evaluations p {
  color: #828282;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 41px;
}
.skills .evaluations .programs {
  text-align: center;
  max-width: 300px;
}
.skills .evaluations .programs .programs-icon {
  width: 90px;
  margin-bottom: 24px;
}
.skills .evaluations .programs .stars {
  display: flex;
  justify-content: space-between;
}
.skills .evaluations .programs .stars img {
  display: block;
  width: 26px;
}

@media screen and (max-width: 970px) {
  .navigation {
    margin-left: 50px;
    margin-right: 50px;
  }
}/*# sourceMappingURL=style.css.map */